body {
    background: blue;
    font-family: 'Times New Roman', Times, serif;
    }
    h1 {
    color: white;
    text-align: center;
    }

    .about{
        display:flex;
        flex-wrap:wrap;
        margin-right: 100px;
        margin-left: 100px;
        justify-content: center;
        }

        .about p {
            width:50%;
            text-align: center;
            margin: auto;
            line-height: 125%;
            }
    
    .projects { display:flex; flex-wrap:wrap; } 
    .project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; 
    border-radius: 25%;
    }

    .project img{
        width: 300px;
        height: 300px;
        margin: 10px;
        border: 2px solid rgb(126, 14, 201); 
        display: block;
        margin: auto;
        }